.navbar{ 
    background:#F97300;
}

.nav-link , .navbar-brand{ 
    color: #f4f4f4; 
    cursor: pointer;
}

.nav-link{ 
    margin-left: 1em !important;
}

.nav-link:hover{ 
    background: #f4f4f4; 
    color: #f97300; 
}

.navbar-collapse{ 
    justify-content: flex-end;
}

.navbar-toggler{  
    background:#fff !important;
}

.header{
    background-image: url(../images/header.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
 }

 .centered {

     position: absolute;
     top: 45%;
     left: 50%;
     transform: translate(-50%, -50%);
     
 }

 .centered2 {
 
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
}

 .header-text {
    padding: 20px 50px;
    color: black;
    
    font-size: 2.5em;
    font-family: Brush Script MT, Brush Script Std, cursive;
    border-radius: 25px
 }
 .head-btn {
     font-family: Arial, Helvetica, sans-serif
 }

 .company-name {
     font-size: 1.3em
 }

 .overlay{
    position: absolute;
    min-height: 100%;
    min-width: 100%;
    left: 0;
    top: 0;
    background: rgba(244, 244, 244, 0.4);
   }